---
import Icon from 'astro-icon';
import ImageSlider from './ImageSlider';
import howto_1 from '../images/mockup_howto_1.jpg';
import howto_mobile from '../images/mockup_howto_mobile.png';
import howto_demo_1 from '../images/howto_demo_1.gif';
import howto_demo_2 from '../images/howto_demo_3.gif';
import twitter_1 from '../images/mockup_alpha_twitter_1.jpg';
import twitter_mobile from '../images/mockup_alpha_twitter_mobile.jpg';
import twitter_demo_1 from '../images/tweet-demo.gif';
import twitter_demo_2 from '../images/reply-demo.gif';

type Project = {
  title: string;
  tags: string[];
  description: string;
  demo: string;
  repo: string;
  images: string[];
};

const projects: Project[] = [
  {
    title: 'HowTo',
    tags: ['TypeScript', 'React', 'Redux Toolkit', 'Tailwind CSS', 'Firebase'],
    description:
      'A SPA website which lets users to discover and craft unique step-by-step tutorials. Designed and developed from scratch without any guidance in 8 one week sprints.',
    demo: 'https://howto-creative.web.app/',
    repo: 'https://github.com/KellyCHI22/HowTo',
    images: [howto_1, howto_mobile, howto_demo_1, howto_demo_2],
  },
  {
    title: 'Alpha Twitter',
    tags: ['React', 'React Router', 'Axios', 'Styled Components', 'REST API'],
    description:
      'A collaborative simple Twitter clone with front-end, back-end trainees at Alpha Camp. Completed within 2 weeks using Agile development methodology.',
    demo: 'https://weilocus.github.io/twitter/',
    repo: 'https://github.com/KellyCHI22/twitter',
    images: [twitter_1, twitter_mobile, twitter_demo_1, twitter_demo_2],
  },
];
---

<section id="projects" class="mx-7 mb-16 pt-24 md:mb-0 lg:mx-40">
  <h3
    class="mx-auto mb-8 w-fit border-b-4 border-vermilion-500 font-righteous text-3xl dark:border-asparagus-500 lg:text-4xl"
  >
    Projects
  </h3>
  <div class="space-y-12">
    {
      projects.map((project) => (
        <div class="md:flex md:items-center md:gap-8">
          <div class="md:flex-1">
            <ImageSlider client:visible imagesData={project.images} />
          </div>
          <div class="space-y-2 md:flex-1 md:space-y-1">
            <h4 class="pt-2 font-righteous text-[1.75rem] md:pt-0">
              {project.title}
            </h4>
            <div class="flex flex-wrap gap-2">
              {project.tags.map((tag) => (
                <span class="rounded-full border border-vermilion-500 px-2 py-[0.15rem] text-sm text-vermilion-500 dark:border-asparagus-400 dark:text-asparagus-400">
                  {tag}
                </span>
              ))}
            </div>
            <p class="py-3">{project.description}</p>
            <div class="flex flex-wrap gap-2">
              <a
                href={project.demo}
                target="_blank"
                class="flex items-center gap-2 bg-jet-500 p-2 px-3 text-pearl-bush-500 hover:bg-jet-400 dark:bg-pearl-bush-500 dark:text-jet-500 dark:hover:bg-pearl-bush-600"
              >
                <Icon name="mdi:eye" class="inline w-5" />{' '}
                <span>Live Demo</span>
              </a>
              <a
                href={project.repo}
                target="_blank"
                class="flex items-center gap-2 border border-jet-500 p-2 px-3 hover:bg-jet-100 dark:border-pearl-bush-500 dark:hover:bg-jet-400"
              >
                <>
                  <Icon name="mdi:github" class="inline w-5" />
                  <span>Repo</span>
                </>
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
